* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f7f8fa;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: "header header" "sidebar main-content" "footer footer";
  height: 100vh;
}

.header {
  grid-area: header;
  padding: 10px;
  border-bottom: 1px solid #dadee6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav-logo h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.nav-h1 {
  font-size: 28px;
  color: #1f2633;
}

nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav a {
  text-decoration: none;
  font-size: 16px;
  color: #606b80;
}

.nav-input {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  border: 1px solid #dadee6;
  padding: 4px 20px;
  border-radius: 12px;
}

.nav-input input {
  border: none;
  background: none;
  outline: none;
  color: #dadee6;
}

.nav-input input::placeholder {
  color: #dadee6;
  font-weight: 600;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.upgrade {
  display: flex;
  align-items: center;
  background-color: #499769;
  padding: 10px 16px;
  border: none;
  border-radius: 12px;
  gap: 10px;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-right: 1px solid #dadee6;
}

.sidebar-left {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar-right {
  border-left: 1px solid #dadee6;
  padding: 10px;
}

.sidebar-image {
  background-color: #fff;
  border: 1px solid #dadee6;
  border-radius: 12px;
  width: 340px;
}

.sidebar-image-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sidebar-img {
  display: flex;
  align-items: center;
}

.sidebar-img p {
  font-size: 14px;
  color: #606b80;
  font-weight: 600;
}

.sidebar-img span {
  font-size: 12px;
  font-weight: normal;
}

.sidebar-Lists {
  list-style: none;
  margin-top: 10px;
}

.sidebar-List {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: #499769;
  padding: 4px;
  border-radius: 12px;
}

.sidebar-ListH {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 4px;
  border-radius: 12px;
}

.sidebar-p {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
}

.sidebar-List1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 4px;
  border-radius: 12px;
}

.sidebar-List1:hover {
  background-color: #499769;
  cursor: pointer;
  color: #fff;
}

.sidebar-icons {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin-top: 200px;
  background-color: #fff;
  justify-content: center;
  flex-direction: row;
  border: 1px solid #dadee6;
  align-items: center;
  border-radius: 12px;
}

.main-content {
  grid-area: main-content;
  padding: 10px;
  min-width: fit-content;
}

.main-container {
  border: 1px solid #dadee6;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  min-width: 0;
}

.main-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dadee6;
}

.main-menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 10px;
  flex-wrap: nowrap;
}

.main-input {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin: 14px 10px;
  border: 1px solid #dadee6;
  padding: 4px;
  border-radius: 12px;
}

.main-input input {
  border: none;
  background: none;
  outline: none;
  color: #dadee6;
}

.main-input input::placeholder {
  color: #dadee6;
  font-weight: 600;
}

.main-menu-lists {
  color: #606b80;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-self: center;
  font-size: 16px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.cards-grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 10px;
  padding: 10px;
}

.card1 {
  background-color: #fff;
  border: 1px solid #dadee6;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-text {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.card-text span {
  display: inline-flex;
  align-items: center;
  color: #606b80;
  font-weight: 600;
}

.card-spn {
  color: #606b80;
  border: 1px solid #dadee6;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
}

.spn {
  color: #606b80;
  border: 1px solid #dadee6;
  padding: 4px 8px;
  border-radius: 14px;
  font-weight: 600;
  font-size: 12px;
}

.card-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #606b80;
}

.card-icons i {
  font-size: 18px;
  cursor: pointer;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.column {
  border-radius: 12px;
  margin-top: 40px;
  padding: 10px;
}

.child {
  background-color: #fff;
  border: 1px solid #dadee6;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}

.child1 {
  background-color: #fff;
  border: 1px solid #dadee6;
  border-radius: 8px;
  margin-top: 10px;
}

.child1-contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.img {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.child1-text {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  color: #606b80;
}

.child1-text1 {
  color: #1f2633;
  font-size: 14px;
  font-weight: 600;
}

.child1-text1-icons {
  display: flex;
  align-items: center;
  color: #606b80;
  font-weight: 600;
  font-size: 14px;
  gap: 20px;
}

.child1-text1-icons span {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.avatars {
  display: inline-flex;
  padding: 0;
  margin: 0;
  flex-shrink: 1;
}

.child-footer {
  display: flex;
  font-size: 14px;
  margin-top: 10px;
  color: #606b80;
  font-weight: 600;
}

.type-icons {
  display: flex;
  gap: 10px;
}

.save-btn {
  background-color: #499769;
  border: none;
  padding: 6px 8px;
  border-radius: 4px;
  color: #fff;
}

.end-div {
  margin-top: auto;
  background-color: #fff;
  width: 400px;
  float: right;
  margin-right: 80px;
  border-radius: 10px;
  border: 1px solid #dadee6;
}

.child3 {
  border-bottom: 1px solid #dadee6;
}

.dev-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.dev-card > p:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
}

.tasks-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 10px;
}

.tasks-card > p {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #606b80;
  font-weight: 600;
}

.tyler{
  display: flex;
  align-items: center;
}

.tyler > p:nth-child(2){
  color: #606b80;
  font-weight: 600;
}

.child4{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.child4 {
    display: flex;
    flex-direction: row;
    gap: 15px; 
}

.child4 > p {
    display: flex;
    flex-direction: column;
    gap: 5px; 
}

.child4 > p > span:first-child {
    font-weight: bold;
    font-size: 12px;
    color: #606b80; 
}

.child4 > p > span:last-child {
    font-size: 16px;
    color: #606b80; 
    display: inline-flex;
    align-items: center;
}

.footer {
  grid-area: footer;
  padding: 20px;
  border-top: 1px solid #dadee6;
}

.footer-contents{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.footer-contents > p:nth-child(1){
  color: #606b80;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
}

.footer-contents > p > span{
  color: #878d97;
  font-size: 26px;
  font-weight: 600;
  background-color: #fff;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 28px;
  border: 1px solid #dadee6;
}

.lang-select{
  padding: 10px;
}

select {
  width: 200px;
  padding: 8px;
  border: 1px solid #e3e5e9;
  border-radius: 4px;
  font-size: 16px;
  color: #878d97;
  background-color: #fff;
  border-radius: 10px;
  outline: none;
}

select option {
  background-color: #f0f0f0;
  color: #333;
  padding: 6px;
  display: none;
}   